/* Colors
Teal: #4CA7C0
Purple: #484FB7
Lavender: #6B8FE7
Yellow: #E9BB57
Pink: #D9526F
Dark-gray: #1E1E1E
White: #ffffff*/

/*Importing Font File*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS Reset using * to target everything and remove any browser added styles */
* {
    margin: 0 20px 0 20px;
    padding: 0;
    background-color: #484FB7;
    box-sizing: border-box;
}

/* Reset for body to change default font to sans-serif */
body {
    font-family: sans-serif;
}

/* CSS reset on ul and ol to remove any styles by the browser*/
ul, ol {
    list-style: none;
}

/* CSS reset to remove any img default styling by the browser */
img {
    max-width: 75px;
    height: auto;
    background-color: #ffffff;
    padding: 5px 0;
}

/* per project provided information*/
h1, h2 {
    font-family: 'kavoon'; 
    color: #ffffff;
}

h1 {
    font-size: 3em;
    text-align: center;
    background-color: #6B8FE7;
    padding: 17px;
    margin-bottom: -10px;
    border-radius: 0 0 25px 25px;
}

header p {
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    background-color: #D9526F;
    padding: 10px 0 0 0;
    margin: 0 25px 0 25px;
    border-radius: 0 0 15px 15px;
}

.nav-container {
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0 0px 20px 20px;
}

#chooseUs {
    background-color: #D9526F;
}

/* CSS reset to remove any decorations from links */
a {
    text-decoration: none;
}


nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    color: #E9BB57;
}

h4 {
    font-size: 1.15em;
    color: #484FB7;
}

.servicesContainer {
    display: flex;
    flex-direction: row;
}

.column-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    margin: 0;
    padding: 0%;
}

.column-container h3 {
    text-align: center;
    font-size: 15px;
    padding: 10px 0 0 0;
}

.one-on-oneitem {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 0 20px 0;
}

.one-on-oneitem h4 {
    background-color: #ffffff;
    font-size: 12px;
}

.one-on-oneitem p {
    background-color: #ffffff;
    font-size: 11px;
}

.group-coachingitem {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 0 20px 0;
}

.group-coachingitem h4 {
    background-color: #ffffff;
    font-size: 12px;
}

.group-coachingitem p {
    background-color: #ffffff;
    font-size: 11px;
}

.workshopitem {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 0 20px 0;
}

.workshopitem h4 {
    background-color: #ffffff;
    font-size: 12px;
}

.workshopitem p {
    background-color: #ffffff;
    font-size: 11px;
}

.onlineitem {
    background-color: #ffffff;
}

.onlineitem h4 {
    background-color: #ffffff;
}

.onlineitem p {
    background-color: #ffffff;
}

.onlineitem {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 0 20px 0;
}

.onlineitem h4 {
    background-color: #ffffff;
    font-size: 12px;
}

.onlineitem p {
    background-color: #ffffff;
    font-size: 11px;
}

.choosecontainer {
    display: flex;
    flex-direction: row;
    background-color: #D9526F;
    padding: 5px;
    width: max-content;
}

.chooseusReasons {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    background-color: #D9526F;
    padding: 0;
}

#chooseUs h2 {
    background-color: #D9526F;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-family: kavoon;
    padding: 10px;
}

.reason {
    flex: 1;
    padding: 20px;
    flex-direction: column;
    background-color: #D9526F;
    outline: none;
    border: none;
    box-shadow: none;
    white-space: nowrap;
}

#personalized {
    background-color: #4CA7C0;
    border-radius: 15px;
    font-weight: bold;
    padding: 30px;
}

#proven {
    background-color: #6B8FE7;
    border-radius: 15px;
    font-weight: bold;
    padding: 30px;
}

#supportive {
    background-color: #E9BB57;
    border-radius: 15px;
    font-weight: bold;
    padding: 30px;
}

#flexible {
    background-color: #ffffff;
    border-radius: 15px;
    font-weight: bold;
    padding: 12px;
}

#pricing {
    justify-content: center;
}

.pricingcontainer {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: max-content;
    justify-content: center;
}

.service span {
    display: block;
    background-color: #ffffff;
    border: #E9BB57;
}

.servicespan {
    background-color: #E9BB57;
    padding: 5px;
}

.onecontainer {
    display: flex;
    justify-content: flex-start;
    background-color: #E9BB57;
    padding: 15px;
}

.onecontainer h4 {
    color: black;
    font-weight: bold;
    background-color: #E9BB57;
}

.cost span {
    display: block;
}

#firststep {
    background-color: #D9526F;
}

.firststepcontainer {
    background-color: #D9526F;
}

#firststep h2 {
    background-color: #D9526F;
}

#firststep p {
    background-color: #D9526F;
}