/* Colors
Teal: #4CA7C0
Purple: #484FB7
Lavender: #6B8FE7
Yellow: #E9BB57
Pink: #D9526F
Dark-gray: #1E1E1E
White: #ffffff*/

/*Importing Font File*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS Reset using * to target everything and remove any browser added styles */
* {
    margin: 0 20px;
    padding: 0;
    background-color: #484FB7;
    box-sizing: border-box;
}

@media (min-width: 900px) and (max-width: 1199px) {
    * {
        margin: 0 15px;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    * {
        margin: 8px;
    }
}

@media (max-width: 599px) {
    * {
        margin: 3px;
        justify-content: center;
        padding: 0;
    }
}

/* Reset for body to change default font to sans-serif */
body {
    font-family: sans-serif;
}

/* CSS reset on ul and ol to remove any styles by the browser*/
ul, ol {
    list-style: none;
}

/* CSS reset to remove any img default styling by the browser */
img {
    max-width: 75px;
    height: auto;
    background-color: #ffffff;
    padding: 5px 0;
}

/* per project provided information*/
h1, h2 {
    font-family: 'kavoon'; 
    color: #ffffff;
}

h1 {
    font-size: 3em;
    text-align: center;
    background-color: #6B8FE7;
    padding: 40px 17px;
    margin-top: 0;
    margin-bottom: -10px;
    border-radius: 0 0 25px 25px;
}

header p {
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    background-color: #D9526F;
    padding: 10px 0 0 0;
    margin: 0 25px 0 25px;
    border-radius: 0 0 15px 15px;
}

.nav-container {
    position: fixed;
    background-color: #E9BB57;
    top: 0;
    right: 0;
    border-radius: 0 0px 20px 20px;
    padding: 10px 0;
}

.nav-container ul {
    list-style-type: none;
    background-color: #E9BB57;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-container li {
    margin: 0 15px;
    font-weight: bold;
    background-color: #E9BB57;
}

.nav-container a {
    color: #1E1E1E;
    background-color: #E9BB57;
    text-decoration: none;
    padding: 0;
    display: inline-block;
}

/* CSS reset to remove any decorations from links */
a {
    text-decoration: none;
}


nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav h2 {
    font-size: 1.5em;
}   

@media (min-width: 600px) and (max-width: 899px) {
    .nav-container ul {
        font-size: small;
    }
}

@media (max-width: 599px) {
    .nav-container {
        padding: 0;
    }

    .nav-container ul {
        font-size: smaller;
        border-radius: 15px;
    }

    h2 {
        font-size: 1em;
    }
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    color: #E9BB57;
    text-wrap: nowrap;
}

h4 {
    font-size: 1.15em;
    color: #484FB7;
}

.servicesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 900px) and (max-width: 1199px) {
    .servicesContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .servicesContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 599px) {
    .servicesContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 50px;
    }
}

.column-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    margin: 0;
    padding: 0%;
}

.column-container h3 {
    text-align: center;
    font-size: 15px;
    padding: 10px 0 0 0;
}

.one-on-oneitem {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 0 20px 0;
}

.one-on-oneitem h4 {
    background-color: #ffffff;
    font-size: 12px;
}

.one-on-oneitem p {
    background-color: #ffffff;
    font-size: 11px;
}

.group-coachingitem {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 0 20px 0;
}

.group-coachingitem h4 {
    background-color: #ffffff;
    font-size: 12px;
}

.group-coachingitem p {
    background-color: #ffffff;
    font-size: 11px;
}

.workshopitem {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 0 20px 0;
}

.workshopitem h4 {
    background-color: #ffffff;
    font-size: 12px;
}

.workshopitem p {
    background-color: #ffffff;
    font-size: 11px;
}

.onlineitem {
    background-color: #ffffff;
}

.onlineitem h4 {
    background-color: #ffffff;
}

.onlineitem p {
    background-color: #ffffff;
}

.onlineitem {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 0 20px 0;
}

.onlineitem h4 {
    background-color: #ffffff;
    font-size: 12px;
}

.onlineitem p {
    background-color: #ffffff;
    font-size: 11px;
}

.choosecontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #D9526F;
    padding: 5px;
    flex-wrap: wrap;
}

@media (min-width: 600px) and (max-width: 899px) {
    .choosecontainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 599px) {
    .choosecontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }
}

.chooseusReasons {
    margin: 0;
    background-color: #D9526F;
    padding: 0;
    flex-wrap: wrap;
}

#chooseUs {
    background-color: #D9526F;
}

#chooseUs h2 {
    background-color: #D9526F;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-family: kavoon;
    padding: 10px;
}

.reason {
    padding: 20px;
    background-color: #D9526F;
    outline: none;
    border: none;
    box-shadow: none;
    flex-wrap: nowrap;
}


#personalized {
    background-color: #4CA7C0;
    border-radius: 15px;
    font-weight: bold;
    padding: 30px;
    flex-wrap: wrap;
}

#proven {
    background-color: #6B8FE7;
    border-radius: 15px;
    font-weight: bold;
    padding: 30px;
    flex-wrap: wrap;
}

#supportive {
    background-color: #E9BB57;
    border-radius: 15px;
    font-weight: bold;
    padding: 30px;
}

#flexible {
    background-color: #ffffff;
    border-radius: 15px;
    font-weight: bold;
    padding: 12px;
}

.pricecontainer {
    display: grid;
    grid-template-columns: 2fr 2fr;
}


h3 {
    margin-top: 0;
}


@media (min-width: 900px) and (max-width: 1199px) {
    .pricecontainer {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .pricecontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }
    .service-cost {
        padding: 10px;
    }
}

@media (max-width: 599px) {
    .pricecontainer {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 0 50px;
    }
    .service-cost {
        padding: 0;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #E9BB57;
    text-align: center;
}

th {
    background-color: #E9BB57;
}

td {
    background-color: #ffffff;
}

#firststep {
    padding: 10px;
    box-sizing: border-box;
    background-color: #D9526F;
}

#firststep h2 {
    background-color: #D9526F;
    padding: 10px;
 }

.firststepcontainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #D9526F;
    margin: 0 auto;
}

@media (max-width: 599px) {
    .firststepcontainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

#firststep div {
    background-color: #D9526F;
    color: #ffffff;
    flex-wrap: wrap;
}


.journey {
    display: flex;
    flex: 1;
    margin-right: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

button {
    background-color: #ffffff;
    border: none;
    color: #1E1E1E;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 0 4px 8px #1E1E1E;
}

.copy-termcontainer {
    display: flex;
    background-color: #6B8FE7;
    justify-content: center;
    padding: 30px;
    border-radius: 0 0 15px 15px;
    gap: 50px;
    flex-wrap: wrap;
}

.copyright {
    background-color: #6B8FE7;
}

.terms {
    background-color: #6B8FE7;
    color: #ffffff;
    text-decoration: underline;
}
